--index-url https://download.pytorch.org/whl/cpu
--index-url https://pypi.org/simple
pandas
numpy
psycopg2-binary
sqlalchemy
python-dotenv
python-dateutil
faker
openpyxl
requests
fastapi
uvicorn
streamlit
pytest
groq
langchain
langchain-core
langchain-community
langchain-groq
faiss-cpu
pydantic
fastembed